{% extends "base.html" %}



{% block content %}


<div class="container" style="margin-top: 40px; box-shadow: #999 0px 10px 10px; padding: 10px;">
<h1>INICIO DE SESION</h1>


<form method="POST">
{% csrf_token %}
	<p><input class="form-control" type="text" name="username" placeholder="Username"></p>
	<p><input class="form-control" type="password" name="password" placeholder="Password"></p>
	<input type="submit" value="LOGIN"><br><br>

	<a href="{% url 'comentarios:registro_view' %}">Registrarse</a>
</form>

</div>
{% endblock %}